{% extends "ToDoList/main.html" %}

{% load static %}


{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="header-bar">
            <div>
                <h1>Hello {{ request.user|title }}</h1>
                <h3 style="margin: 0 ">you have <i>{{ count }}</i> incomplete task{{ count|pluralize:"s" }}.</h3>
            </div>
            {% if request.user.is_authenticated %}
            <a href="{% url 'ToDoList:logout' %}">Log Out</a>
            {% else  %}
            <a href="{% url 'ToDoList:login' %}">Log In</a>
            {% endif %}
        </div>


        <div id="search-add-wrapper">
            <form method="GET" action="" style="margin-top: 20px;display: flex;">
                <input type="text" name="search-area" value="{{search_input}}">
                <input class="button" type="submit" value="Search">
            </form>
            <a id="add-link" href="{% url 'ToDoList:task-create' %}">&#x2b;</a>
        </div>




        <div class="task-item-wrapper">
            {% for task in tasks %}
                <div class="task-wrapper">
                    {% if task.complete %}
                        <div class="task-title">
                            <div class="task-complete-icon"></div>
                            <i><s><a href="{% url 'ToDoList:task-update' task.id %}">{{ task }}</a></s></i>
                        </div>
                        <a class="delete-link" href="{% url 'ToDoList:task-delete' task.id%}">&#215;</a>

                        {% else %}
                        <div class="task-title">
                            <div class="task-incomplete-icon"></div>
                            <a href="{% url 'ToDoList:task-update' task.id %}">{{ task }}</a>
                        </div>
                        <a class="delete-link" href="{% url 'ToDoList:task-delete' task.id%}">&#215;</a>
                    {% endif %}
                </div>
                {% empty %}
                <h3>there is no item.</h3>
            {% endfor %}

        </div>


    </body>
    </html>
{% endblock %}